body{
    max-width: 1600px;
    height: 100vh;
    width: auto;
    margin: auto;
    background-color: rgba(255,244,176,255);
}


@font-face {
    font-family: pixelFont;
    src: url("Fonts/ccoverbyteoffregular.otf") format("opentype");
}

@font-face {
    font-family: smallPixelFont;
    src: url("Fonts/Minecraft.ttf") format("truetype");
}

@font-face {
    font-family: boldPixelFont;
    src: url("Fonts/upheavtt.ttf") format("truetype");
}

.boldPixelFont{
    font-family: boldPixelFont;
}

.pixelFont{
    font-family: pixelFont;
}

.smallPixelFont {
    font-family: smallPixelFont;
}

.box{
    background-color: aliceblue;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
}

#logo{
    width: 75px;
    
}

.header{
    width: 100%;
    border-radius: 10px;
}

.main{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.main a{
    text-decoration: none;
    color: black;
}

.main:hover{
    transform: scale(0.93);
}

#memberbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1024px;

}
.member {
    text-align: center;
    background-color: #333;
    padding: 20px;
    color: white;
    height: 350px;
    width: 300px;
    margin-top: 20px; 
    margin-right: 20px;
    margin: auto;
    border-radius: 10px;
}

.memberImg{
    border-radius: 10px;
    width: 100px;
    height: 130px;
}

.name {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
#quotes {
    font-size: 1rem;
    margin: 0;
}

.ref{
    margin-left: 30px; 
    margin-top: 30px;
}

.gallery{
    margin-top: 50px;
}

.photo{
    border-radius: 40px;
    margin-top: 15px;
}

.space{
    margin-top: 15px;
    
}